body{
    margin: 0;
    background-color: #f7f9fc;
}

.header{
    padding-top: 80px;
}
.header, .main{
    width: 965px;
    margin: 0 auto;
}

/*!!! header styles */
.header__logo-image{
    width: 157px;
    height: 31px;
    display: inline-block;
}

.header__tabs{
    list-style: none;
    color: #626262;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 730px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}

.header__tabs-link, .header-search{
    display: inline-block;
    margin-left: 45px;
    padding: 10px 0 0 0;
    position: relative;
}

.header-search{
    display: inline-block;
    background: url(../images/search-icon.svg) center no-repeat;
    width: 16px;
    height: 16px;
}

.header__tabs-link:after{
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 3px; 
    bottom: -8px;
    background-color: #5c6bc0;
}

/* hover tab */
.header__tabs-link:hover:after{
    width: calc(100%);
    transition: width 0.2s ease-in-out;
}

.header__tabs-link:hover{
    cursor: pointer;
}

.header__tabs-link:active{
    color: #5c6bc0;
}

.header__tabs-link:active::after{
    opacity: 0;
}

/* inactive tab */
.header__tabs-link:first-child{
    color: #bdbdbd;
    pointer-events: none;
}

/* seach icon hover */
.header-search:hover{
    background: url(../images/search-icon-hover.svg) center no-repeat;
    cursor: pointer;    
}

/*!!! Posts styles  */
.main{
    margin-top: 65px;
    margin-bottom: 80px;
}

.main__posts{
    list-style: none;
    padding: 0;
} 

.post-content{
    box-shadow: 0 0 25px rgba(0 , 0, 0, 0.1);
    background-color: white;
    margin-bottom: 30px;
    /* padding: 0 100px 0 100px; */
    font-family: Lato, sans-serif;
    color: #000;
    position: relative;
}

.post-image{
    width: 965px;
    height: 536px;
}

.post-category{
    position: absolute;
    float: right;
    top: 20px;
    right: -11px;
    background-color: #5c6bc0;
    text-align: center;
    padding: 11px 11px; 
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.post-category:hover{
    background-color: #6b79c6;
    padding: 12px 16px; 
    right: -15px;
}

.post-category:active{
    background-color: #5360ad;
    padding: 12px 16px; 
    right: -15px;
}

.post-date{
    padding: 40px 100px 0 100px;
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
}

.post-title{
    padding: 0;
    margin: 20px 100px 80px 100px;
    font-size: 40px;
    font-weight: bold;
    position: relative; 
}

.post-title:after{
    content: '';
    position: absolute;
    border-bottom: 2px solid #eee;
    width: 100%;
    bottom: -40px;
    left: 0;
}

.post-annotation-text{
    padding: 0;
    margin: 0 100px 20px 100px;
    font-size: 25px;
    line-height: 1.8;
    font-family: Lato, sans-serif;
    font-style: italic;
}

.post-text{
    padding: 0;
    margin: 0 100px 0 100px;
    font-size: 17px;
    line-height: 1.8;
}

.block-text{
    margin: 35px 100px 35px 126px;
    position: relative;
    color: #9c9c9c;
}

.block-text:after{
    content: '';
    position: absolute;
    top: -4px;
    width: 3px;
    left: -26px;
    height: calc(100% + 8px);
    background-color: #eee;
}

.post-button{
    margin: 40px 0 0 133px;
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    font-size: 21px;
    color: #5c6bc0; 
    font-weight: bold;
    position: relative;
}

.post-button::after{
    position: absolute;
    content:'';
    left: -33px;
    right: -33px;
    top: -12px;
    bottom: -12px;
}

.post-button:hover:after{
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.post-button:active:after{
    border: 1px solid #5c6bc0;
}

.tags-list{
    display: inline-block;
    padding: 0;
    text-align: right;
    margin-bottom: 70px;
    width: 590px;
}

.post-tag{
    list-style: none;
    display: inline-block;
    padding: 0;
    font-size: 15px;
    margin-left: 13px;
    position: relative;
    color: #b2b2b2;
}

.post-tag:after{
    position: absolute;
    content:'';
    right: 0;
    width: 0;
    bottom: 10px;
    border-bottom: 1px solid #5c6bc0;
}

.post-tag:hover:after{
    width: calc(100% - 8px);
    transition: width 0.2s ease-in-out;
    color: #5c6bc0;
}

.post-tag:hover{
    cursor: pointer;
}

.post-tag:active{
    color: #5c6bc0;
}

.post-tag:active:after{
    opacity: 0;
}

.link-in-text{
    color: blue;
}

.post-image3{
    float: left;
    margin: 0 0 0 100px;
}

/* footer */
.footer{
    width: auto;
    height: 530px;
    background-color: #5360ad;
    padding: 65px 0 0 0;
    text-align: center;
}

.footer__logo-image{
    width: 136px;
    height: 27px;
}
