body{
    margin: 0;
}
.header, .main__content{
    width: 1062px;
    margin: 0 auto;
}
.header{
    height: 675px;
    background-image: url(../images/cover-image.png);
    padding-top: 60px;
    box-sizing: border-box;
}
.header__title{
    display: inline;
    font-family: Arial;
    font-size: 30px;
    letter-spacing: 6px;
    margin: 0;
    text-transform: uppercase;
}
.header__tabs{
    list-style: none;
    color: #626262;
    font-size: 14px;
    font-family: Arial;
    margin: auto 0; 
    text-transform: uppercase;
    width: 910px;
    text-align: right;
    display: inline-block;
}
.header__tabs-link{
    display: inline-block;
    margin-left: 85px;
    margin-right: 15px;
}
.main__content{
    padding: 95px 0 0 150px;
}
.main__content-left, .main__content-sidebar{
    display: inline-block;
    vertical-align: top;
}
.main__content-left{
    width: 654px;
}

.main__content-image{
    width: 661px;
    height: 497px;
}

.main__content-sidebar{
    width: 270px;
}